<%- include('includes/head'); %>
<%- include('includes/nav.ejs'); %>


  
 <div class="containee">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">
      <h1 class="text-center">Agenda</h1>
      <p class="text-center lead">Seus contatos estão abaixo</p>

      <%- include('includes/messages.ejs'); %>

      <div class="responsive-table">
        <table class="table my-3">
          <tr>
            <td>Miguel</td>
            <td>Vilela</td>
            <td>35984126562</td>
            <td>miguelmvilela12@gmail.com</td>
          </tr>

        </table>
      </div>

    </div>

    <div class="col-lg-2"></div>
  </div>
 </div>

  <%- include('includes/footer'); %>